/* ポップな色使いを意識！*/
@charset "utf-8";

body, ul, li, h1, h2, h3, p, img{
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro",'Cachet W01 Book',"HG丸ｺﾞｼｯｸM-PRO",'ヒラギノ角ゴ ProN W3', メイリオ, Meiryo, sans-serif;
}

body {
	height: 4600px;
	background:#f3f2f7;
}

a {
	font-size: 32px;
}

#wrapper {
	margin: 0 auto;
	width: 800px;
}

.indicator {
     margin: 0;
     position: fixed;
     right: 10px;
     top: 10px;
}
.indicator {
     background: rgba(255, 255, 255, 0.8);
}

.colorChange {
	z-index: 6;
	position: fixed;
	top: 10px;
}

#men {
	right: 170px;
}

#women {
	right: 230px;
}

#default {
	right: 310px;
}

.content {
	position: fixed;
	height: 700px;
	width: 800px;
}

#kitchen, #bathroom, #living, #entrance, #bye {
	top: 700px;
}

#outside {
	top: 0;
	z-index: 0;
	background: url(../images/outside.png);	
}

#kitchen {
	z-index: 1;
	background: url(../images/kitchen.png);
}

#bathroom {
	z-index: 2;
	background: url(../images/bathroom.png);
}

#living {
	z-index: 3;
	background: #29B6F6;
	background: url(../images/living.png);
}

#entrance {
	z-index: 4;
	background: #D4E157;
}

#bye {
	z-index: 5;	
	background: #FFCA28;
}